body{
    margin: 0;
    font-family: sans-serif;
}
.flexbox{
  background-color: gray;
  display: flex;
  flex-grow: 1;
}

.flex-item{
  background-color: gray;
  border: 1px solid red;
}
@media screen and (max-width:500px) {
  body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  .flexbox{
    background-color: gray;
    display: flex;
    flex-direction: column;
  }
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }
}