<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="m-auto text-center">
    <h2 class="py-4">Botones clasicos</h2>
    <button class="btn btn-primary" >Primary</button>
    <button class="btn btn-secundary" >Secundary</button>
    <button class="btn btn-warning">Button amarillo</button>
    <button class="btn btn-danger" >Button rojo</button>
    <button class="btn btn-success" >Button verde</button>
   
    <hr class="border mt-5">

    <h2 class="py-4">Botones outline</h2>
    <button class="btn btn-outline-primary">Primary</button>
    <button class="btn btn-outline-secondary">Secondary</button>
    <button class="btn btn-outline-success">Success</button>
    <button class="btn btn-outline-danger">Danger</button>
    <button class="btn btn-outline-warning">Warning</button>

    <hr class="border mt-5">

    <h2 class="py-4">Botones gradientes</h2>
    <button class="btn btn-gradiant-primary">Primary</button>
    <button class="btn btn-gradiant-secondary">Secondary</button>
    <button class="btn btn-gradiant-success">Success</button>
    <button class="btn btn-gradiant-danger">Danger</button>
    <button class="btn btn-gradiant-warning">Warning</button>

    <hr class="border mt-5">
    <h2>Dropdown</h2>

    <button class="dropdown group btn btn-secundary flex items-start">
        <p>Dropdown</p>
        <span class="row">
            <svg class="h-4 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
              </svg>              
        </span>
        <div class="dropdown-body">
            <ul class="list">
                <li class="list-items">1</li>
                <li class="list-items">2</li>
                <li class="list-items">3</li>
                <li class="list-items">4</li>
                <li class="list-items">5</li>
            </ul>
        </div>
    </button>
</body>
</html>