<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../output.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Imagenes</h2>
    <div class="w-2/3 h-40 border-2 border-red-600 mt-10 ml-10">
        <img class="h-full w-full object-fill object-center" src="https://cdn.pixabay.com/photo/2024/05/02/16/22/parrots-8735074_1280.jpg" alt="">
    </div>
    
    <h2>Columnas</h2>
    <div class="columns-1 sm:columns-2 md:columns-3">
        <div class="w-full h-40 bg-purple-500 mb-2"></div>
        <div class="w-full h-40 bg-purple-500 mb-2 break-before-column"></div>
        <div class="w-full h-40 bg-purple-500 mb-2"></div>
        <div class="w-full h-40 bg-purple-500 mb-2"></div>
        <div class="w-full h-40 bg-purple-500 mb-2"></div>
        <div class="w-full h-40 bg-purple-500 mb-2"></div>
    </div>

    <h2>Overflow</h2>
    <div class="w-1/2 border-2 m-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit repudiandae consequatur quos quia saepe quisquam, vero unde maxime soluta nobis deserunt doloribus sed blanditiis quis rerum fugit enim minus.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium nulla illo blanditiis sit excepturi debitis modi nobis voluptatem? Enim adipisci molestias aliquid expedita magnam cum, rem blanditiis exercitationem amet. Quidem!
    </div>

    Ocultar elementos
    <div  class="w-1/2 m-auto p-5 bg-blue-300">
        <div class="bg-blue-500 h-24 mt-6"></div>
        <div class="bg-green-500 h-24 mt-6 hidden"></div>
        <div class="bg-purple-500 h-24 mt-6"></div>
    </div >
</body>
</html>